.hidden {
  display: none;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.forms {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 30px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.forms .forms-heading,
.forms .checkbox,
.bigforms .form-heading {
  margin-bottom: 10px;
}
.forms input[type="text"],
.forms input[type="email"],
.forms input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

span.k-tooltip{vertical-align: top;}

#addListItem> span.k-tooltip, #addTaskItem> span.k-tooltip{
  float:right;
  padding: 2px 2px 1px 3px;
}

#addListItem> span.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg{
  width:5px;
}

.bigforms {
  max-width: 900px;
  padding: 19px 29px 29px;
  margin: 30px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}